<app-navbar></app-navbar>
  <div class="hero-section">
    <div class="overlay">
      <h1 class="hero-title">Найди свою идеальную машину</h1>
      <p class="hero-subtitle">Каталог авто от лучших брендов. Быстро. Удобно. Стильно.</p>
      <div class="hero-buttons">
        <button>Перейти в каталог</button>
        <button>Узнать больше</button>
      </div>
    </div>
    <div class="logos">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png " width="150px" height="150px">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-2-logo-png-transparent.png" width="150px"  height="150px">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/toyota-logo-black-and-white.png" width="150px"  height="150px">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/lexus-logo-png-transparent.png" width="180px"  height="250px">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nissan-6-logo-svg-vector.svg" width="150px"  height="150px">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/audi-13-logo.png" width="200px"  height="150px">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/chevrolet-4-logo-svg-vector.svg" width="150px"  height="150px">
    </div>

  </div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-home></app-home>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
